@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-stats {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .service-card {
    text-align: center;
  }

  .icon {
    margin: 0 auto 15px;
  }
}

@media (max-width: 900px) {
  .contacts-grid {
    grid-template-columns: 1fr;
  }

}